* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

header {
  background-color: darkcyan;
  height: 60px;
}

main {
  display: flex;
  background-color: orange;
  width: 100%;
  flex-grow: 1;
}

section {
  flex: 2;
}

nav {
  flex: 1;
}

aside {
  flex: 1;
}

.border {
  border: 2px solid white;
}

footer {
  background-color: khaki;
  height: 60px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}
